$background-color: #FFF;
$background-color-2: #f1f5f9;
$background-color-3: #f6f6f6;
$background-color-4: #ddd;
$background-color-5: #0075ff;
$color-2: #888;
$blue-color: #0075ff;
$blue-alt-color: #0d69d5;
$orange-color: #f59e0b;
$green-color: #22c55e;
$red-color: #f44336;
$gry-color: #888;