@import './variables/vars'; // global variable

* {
  box-sizing: border-box;
}

// *:focus {
//   outline: none;
// }

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: rgb(136, 12, 12);
}
::-webkit-scrollbar-thumb {
  color: $blue-color;
  &:hover {
    color: $blue-alt-color;
  }
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}
